<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travel Expense Tracker</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelExpenseTracker.styles.css" asp-append-version="true" />
    <link href="~/css/litera_bootstrap.min.css" rel="stylesheet" />
</head>
<body>    
    <header>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
          <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>         
                </li>
                        @await Component.InvokeAsync("TripsDropDown")
              </ul>

              <form class="d-flex mx-lg-auto my-2 my-lg-0 d-none" asp-controller="Trips" asp-action="Search" method="get" style="max-width: 400px; width: 100%;">
                <input class="form-control me-sm-3" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>


              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                    <li class="nav-item username-item">
                        <span class="text-info fw-semibold">Hello, @User.Identity.Name</span>
                    </li>
                            <li class="nav-item auth-item">
                        <a class="btn btn-outline-dark auth-btn" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                            Logout <i class="fa-solid fa-xl fa-arrow-right-from-bracket text-info"></i>
                        </a>
                    </li>
                    }
                    else
                    {
                            <li class="nav-item auth-item">
                            <a class="btn btn-dark auth-btn"  asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
                                Login <i class="fa-solid fa-xl fa-arrow-right-to-bracket text-info"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
          </div>
        </nav>
   
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - Karla Cooper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Pop up login modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content border-0 shadow-lg">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-semibold" id="loginModalLabel">Sign in</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body d-grid gap-3 mb-3">
                    <!-- Microsoft -->
                    <a class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
                       asp-controller="Account" asp-action="Login" asp-route-provider="OpenIdConnect">
                        <i class="fa-brands fa-xl fa-microsoft text-white"></i>
                        Continue with Microsoft
                    </a>

                    <!-- Google -->
                    <a class="btn btn-light border d-flex align-items-center justify-content-center gap-2"
                        asp-controller="Account" asp-action="Login" asp-route-provider="Google" asp-route-returnUrl="/">
                        <i class="fa-brands fa-xl fa-google text-success"></i>
                        Continue with Google
                    </a>

                   </div>

               
            </div>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
